{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>knyg.ht</title>
<link href="//yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet">
<link href="{% static 'css/screen.css' %}" rel="stylesheet">

<header id="header">
  <nav class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">knyg.ht</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Home</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Work</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<main></main>
